body {
  padding-top: 55px;
  font-family: 'PT Sans', sans-serif !important;
}


a
{
	color: #999999;
	text-decoration:none;
}

a:focus, a:hover
{
	color: #666666 !important;
	text-decoration:none !important;
}


/* Full Screen Background Image */
.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  z-index:-1;
  
}



.navbar
{
	min-height:55px;
	font-size:13px;
}

.navbar .dropdown-menu
{
	background-color:#000;
}

	/* Menu link Styling */
	.navbar a, .navbar a:visited { color: #FFF !important;}
	.navbar a:hover, .navbar a:focus { color: #999 !important; }

	
	/* CUSTOM LINK COLORS */
	.navbar .grey , .navbar .grey:visited {color: #999 !important; }
	.navbar .grey:hover { color: #666 !important; }


/*   HOME PAGE */

 	#main-search
	{
		margin-top:70px;
	}
	
	.homesearch_input
	{
		height:59px;
		width:100%;
		
		background-color:#FFF;
		padding-left:10px;
		
		font-size:19px;	

		-moz-border-radius:5px; 
		-webkit-border-radius: 5px; 
		-khtml-border-radius: 5px; 
		border-radius: 5px; 
		
		behavior:url("border-radius.htc");
		border-color:#FFF;
		border: 6px solid rgba(256,256,256, 0.3);
		
						
		-moz-background-clip: padding;     
		-webkit-background-clip: padding;  
		background-clip: padding-box;     
		
		font-family: 'PT Sans', sans-serif;
						
		
	}
	
	.homesearch_submit
	{
		width:100%;
		height:59px;	
		
		font-size:19px;	
		
		background-color:#cdde54;
		
		-moz-border-radius:5px;
		-webkit-border-radius: 5px; 
		-khtml-border-radius: 5px; 
		border-radius: 5px; 
		
		behavior:url("border-radius.htc");
		border-color:#FFF;
		
		border: 6px solid rgba(256,256,256, 0.3);
		
						
		  -moz-background-clip: padding;    
		  -webkit-background-clip: padding;  
		  background-clip: padding-box;      
		
	}	
	
	
	/* MISC */
	
	.full-width
	{
		width:100%;
	}
	
	#main-search  h1{font-size: 33px;}
	#main-search  h2{font-size: 16px;}
	
	.glyphicon-med {
		font-size:16px;
	}
	
	#main-pop-box
	{
	bottom:30px;position:fixed;right:30px;
	}
	
    .ui-autocomplete-loading{background:url('/images/autocomplete_loading.gif') no-repeat right 20px center;
	}
	
	
/* SEARCH PAGE */


	.search-header
	{
		background-color:#e4e4e4;
		padding-top:25px;
		padding-bottom:25px;
	}
	
	
	.search-result
	{
		margin-top:30px;
	}
	
	.search-result-bx
	{
		font-size:12px;color:#FFF;
		color:#333333;
		text-align:center;
		
		border-bottom: #000;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		
	}
	
	.search-result-bx H3,H2	
	{
		margin-top:0px;
		margin-bottom:10px;
		font-size: 30px;
		
	}
	
	.search-result-bx p
	{
		margin-top: 10px;
		margin-bottom: 0px;
	}
	
	.search-result-bx h2
	{
		font-size:40px;
		
	}
	
	.search-result-bx-black
	{
		background-color:rgba(51,51,51,1);
	}
	
	.search-result-bx-red
	{
		background-color:rgba(158,11,15,1);
	}
	
	.search-result-bx-green
	{
		background-color:rgba(140,154,39,1);
	}
	
	
	.search-result-bx-brown
	{
		background-color:rgba(156,117,23,1);
	}
	.search-result-bx-blue
	{
		background-color:rgba(0,33,87,1);
	}
	
	/* misc */

	/* Shadow options */
	.shadow-big
	{
		text-shadow: 1px 1px 2px rgba(48, 48, 48, 0.68);
	}
	
	.text_white {color:#FFF !important;}